{% macro bar(ratio, color) %}
    {% if ratio is null %}
        <span class="ui grey text" title="{{ 'setono_sylius_completeness.ui.not_applicable'|trans }}">&mdash;</span>
    {% else %}
        {% set semantic_color = {'green': 'green', 'amber': 'yellow', 'red': 'red'}[color]|default('grey') %}
        {# Semantic UI progress: the width is set inline so it renders without the progress JS module #}
        <div class="ui small {{ semantic_color }} progress ssc-progress" data-percent="{{ ratio }}" style="margin: 0;">
            <div class="bar" style="width: {{ ratio }}%;">
                <div class="progress">{{ ratio }}%</div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
