<div class="ui two column stackable grid">
    <div class="column">
        <h4 class="ui dividing header">{{ 'setono_sylius_completeness.ui.rule'|trans }}</h4>
        {{ form_row(form.label) }}
        {{ form_row(form.group) }}
        {{ form_row(form.type) }}
        {# a hidden, escaped prototype per checker type; handlePrototypes swaps the right one into the
           container client-side when the checker changes (no page reload) #}
        {% for type, configurationPrototype in form.vars.prototypes %}
            <div id="{{ form.type.vars.id }}_{{ type }}" data-container="#ssc-checker-configuration"
                 data-prototype="{{ form_widget(configurationPrototype)|e('html_attr') }}"></div>
        {% endfor %}
        <div id="ssc-checker-configuration">
            {% if form.configuration is defined %}
                {{ form_widget(form.configuration) }}
            {% endif %}
        </div>
        {{ form_row(form.weightTier) }}
        {{ form_row(form.position) }}
        {{ form_row(form.enabled) }}

        <div class="ui styled fluid accordion" style="margin-top: 1em;">
            <div class="title">
                <i class="dropdown icon"></i>
                {{ 'setono_sylius_completeness.ui.advanced'|trans }}
            </div>
            <div class="content">
                {{ form_row(form.code) }}
                {% if form.customWeight is defined %}
                    {{ form_row(form.customWeight) }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="column">
        <h4 class="ui dividing header">{{ 'setono_sylius_completeness.ui.scope'|trans }}</h4>
        {# rendered field-by-field: Sylius' expanded-choice widget already prints the help, so using
           form_row here would duplicate it - render the label + widget (which includes the help) instead #}
        <div class="field">
            {{ form_label(form.channelCodes) }}
            {{ form_widget(form.channelCodes) }}
            {{ form_errors(form.channelCodes) }}
        </div>
        {{ form_row(form.localeCodes) }}
        {{ form_row(form.taxonCodes) }}

        <h4 class="ui dividing header">{{ 'setono_sylius_completeness.ui.expressions'|trans }}</h4>
        {{ form_row(form.condition) }}
        {{ form_row(form.expression) }}

        <div class="ui styled fluid accordion" style="margin-top: 1em;">
            <div class="title">
                <i class="dropdown icon"></i>
                {{ 'setono_sylius_completeness.ui.function_reference'|trans }}
            </div>
            <div class="content">
                {% include '@SetonoSyliusCompletenessPlugin/Admin/_functionReference.html.twig' %}
            </div>
        </div>
    </div>
</div>

{% include '@SetonoSyliusCompletenessPlugin/Admin/_expressionEditor.html.twig' %}

<script>
    (function () {
        // bind Sylius' client-side prototype swap to the checker select, so its configuration fields
        // update when the checker changes. The admin JS provides jQuery + the handlePrototypes plugin
        function bind() {
            var $ = window.jQuery;
            if (!$ || !$.fn.handlePrototypes) {
                return false;
            }

            var select = $('#{{ form.type.vars.id }}');
            if (select.length > 0) {
                select.handlePrototypes({ containerSelector: '#ssc-checker-configuration' });
            }

            return true;
        }

        if (!bind()) {
            var attempts = 0;
            var timer = setInterval(function () {
                if (bind() || ++attempts > 50) {
                    clearInterval(timer);
                }
            }, 100);
        }
    })();
</script>
